<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') -%>
  <link rel="stylesheet" href="/css/client/about.css" type="text/css" />
  <body>
    <%- include('../partials/navbar') -%>
    <section class="about">
      <div class="about--container">
        <h3 class="about--title">Sobre nosotros</h3>
        <div class="about-us-info-container">
          <div class="about--image">
            <img
              src="/assets/images/about-us-web.png"
              alt="Imagen de dueña de Moderna Propiedades"
            />
          </div>
        </div>
        <div class="about--content">
          <p>
            Somos una inmobiliaria moderna, enfocada en brindar un servicio
            responsable, con transparencia, cercanía y confianza.
          </p>
          <p>
            Nuestra misión es aportar valor y trabajar en las necesidades
            específicas de nuestros clientes. Agilizar los procesos de
            intermediación en la compra, venta y alquiler de inmuebles.
          </p>
          <p>
            Nuestro principal objetivo es acompañar y ayudar a nuestros clientes
            en todo momento, desde el inicio, pasando por la concreción de la
            operación, hasta la firma de la escritura.
          </p>
          <p>
            Nos encanta nuestro trabajo y nos esforzamos cada día por innovar y
            mejorar con la visión de ser una empresa líder en el sector
            inmobiliario, manteniéndonos en constante formación y capacitación
            para aportar la mejor atención personalizada y profesionalismo.
          </p>
        </div>
        <div class="about--services">
          <div class="about--card" id="buy">
            <p class="about--card--title">Compra</p>
            <p class="about--card--content">
              Si estas buscando una propiedad, te acompañamos en todo momento,
              te daremos información útil para que elijas el mejor producto, la
              mejor zona, para que finalmente te quedes con la mejor opción. Te
              garantizamos acompañamiento y celeridad en la concreción de la
              operación, y presencia antes, durante y después de concretada la
              firma.
            </p>
          </div>
          <div class="about--card" id="rent">
            <p class="about--card--title">Alquiler</p>
            <p class="about--card--content">
              Te acompañamos en el proceso de búsqueda para encontrar el
              alquiler más conveniente para ti, brindándote toda la información
              necesaria para agilizar y ahorrar tiempo.
            </p>
          </div>
          <div class="about--card" id="sell">
            <p class="about--card--title">Venta</p>
            <p class="about--card--content">
              Ponemos a tu servicio nuestras herramientas digitales, con fotos
              de excelente calidad, creando videos profesionales y haciendo una
              publicación masiva con destaques en portales y redes digitales.
              Estamos convencidos que brindando la mayor información del
              inmueble, logramos agilizar los procesos de venta. Entendemos que
              la mejor manera de vender una propiedad es trabajándola de forma
              exclusiva.
            </p>
          </div>
        </div>
      </section>
      <div class="about-mision">
        <!-- <p>NOS ENCARGAMOS DE <span>CONCRETAR TU SUEÑO</span></p> -->
      </div>
    <%- include('../partials/newsletter') -%> <%- include('../partials/footer')
    -%> <%- include('../partials/scripts') -%>
  </body>
</html>
