<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') -%>
  <link rel="stylesheet" href="/css/client/asesory.css" type="text/css" />
  <body>
    <%- include('../partials/navbar') -%>
    <section class="asesory">
      <div class="asesory--container">
        <h3 class="asesory--title">
          ASESORAMIENTO
          <span
            >Te brindamos toda la información necesaria para agilizar y ahorrar
            tiempo.</span
          >
        </h3>
        <div class="asesory--content--container">
          <div class="asesory--card">
            <div class="asesory--card--number">01.</div>
            <div class="asesory--card--content">
              <h4 class="asesory--card--content--title">
                ¿Qué debo saber antes de comprar una casa?
              </h4>
              <p class="asesory--card--content--info">
                En la elección de una casa debes tomar en cuenta desde el estado
                físico de la propiedad, hasta los aspectos legales que te
                permitirán saber si la casa de tus sueños corresponde o es afín
                a tus necesidades de vivienda y presupuesto.
                <br />
                Cuando ya hemos seleccionado varias propiedades que podrían
                convertirse en la casa de nuestros sueños. Antes de tomar la
                decisión final y comprar, queda pendiente otra parte que no deja
                de ser compleja: analizar los gastos iniciales, cerciorarse del
                estado real del inmueble y revisar el papeleo, el aspecto legar.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Evaluación física de la propiedad.
              </h4>
              <p class="asesory--card--content--info">
                Si decidiste comprar una vivienda usada, pide a un arquitecto
                que te ayude a verificar que la casa se encuentre en condiciones
                de habitarla. De no tener en cuenta este punto, podrías pagar un
                costo más alto.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Ubicación del inmueble.
              </h4>
              <p class="asesory--card--content--info">
                Si vas a invertir en una propiedad busca que tengas las vías de
                comunicación o servicios que requieras, como: educación, salud,
                comercios, seguridad, transportes, recreación y abasto.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Aspecto legal.
              </h4>
              <p class="asesory--card--content--info">
                Que un inmueble tenga escrituras es la única forma en la que
                tendrás la certeza jurídica de la propiedad, incluyendo los
                bancos para contratar créditos.
                <br />
                Y como regla general el vendedor debe tener al corriente los
                pagos de servicios e impuestos municipales. ¡No querrás absorber
                una deuda más!
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                No desesperar.
              </h4>
              <p class="asesory--card--content--info">
                Recuerda que el tiempo promedio del proceso de la compraventa
                puede ser desde 20 días, hasta 2 meses… ¡Así que respira!
              </p>
            </div>
          </div>
          <div class="asesory--card">
            <div class="asesory--card--number">02.</div>
            <div class="asesory--card--content">
              <h4 class="asesory--card--content--title">
                ¿Qué gastos debo tener en cuenta a la hora de la compraventa de
                una vivienda?
              </h4>

              <h4 class="asesory--card--content--info--subtitle">
                <br />
                Gastos Generales
              </h4>
              <br />
              <h4 class="asesory--card--content--info--subtitle">Escribano:</h4>
              <p class="asesory--card--content--info">
                El escribano revisara toda la documentación. El estado de las
                escrituras, los títulos, los antecedentes de compras de los
                últimos 30 años, el historial de deudas o hipotecas. Es quien
                redacta el documento de compraventa y las estructuras del
                proceso y actúa como agente de depósito de garantía para el pago
                inicial de la entrega o seña.
              </p>
              <h4 class="asesory--card--content--info--subtitle">Costo:</h4>
              <p class="asesory--card--content--info">
                -El escribano cobra sus honorarios que depende de cada
                profesional, ronda aproximadamente el 3% del valor de la
                propiedad.
                <br />
                -Timbres e impuestos de registro: 0,5% del costo total del
                inmueble.
                <br />
                -Tasas y certificados de registro
                <br />
                -Impuesto a la transferencia de propiedades (ITP): 2% del valor
                fiscal de la propiedad (generalmente bastante más bajo que el
                valor de mercado).
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Inmobiliaria:
              </h4>
              <p class="asesory--card--content--info">
                La intermediación de una inmobiliaria comienza en facilitar la
                búsqueda, ya que dispone de una cartera de clientes para
                ofrecerte opciones que se ajusten a lo que estés buscando.
                Optimizamos el proceso de marketing de un inmueble, lo que
                genera beneficios tanto al propietario como al comprador.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Mostrar una propiedad:
              </h4>
              <p class="asesory--card--content--info">
                Como inmobiliaria conocemos al propietario y a los potenciales
                compradores.
                <br />
                Mostrándote las propiedades que más se ajusten a lo que estás
                buscando, además de acompañarte a conocer el inmueble que te
                interesa resaltando cada detalle pertinente y respondiendo a
                cualquier duda que puedas tener en el momento.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Negociación:
              </h4>
              <p class="asesory--card--content--info">
                No siempre el comprador tiene el tiempo disponible o las ganas
                para hacerlo en persona, y a veces las distancias son un
                impedimento que como inmobiliaria podemos solucionar, somos el
                intermediario adecuado para que la negociación sea saludable
                para todas las partes involucradas, además de que, ante
                cualquier inconveniente, funciona como inmejorable mediador.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Seguimiento:
              </h4>
              <p class="asesory--card--content--info">
                Ya concretada la venta, realizamos un seguimiento constante del
                trabajo que realiza el escribano, manteniéndonos en contacto y
                agilizando todo tramite que esté a nuestro alcance. Manteniendo
                informados tanto al vendedor como al comprador de todo el
                proceso, acompañándolos en todo momento.
                <br />
                <span>Servicios:</span> 3% más IVA del valor total de venta de
                la propiedad.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Préstamo hipotecario
              </h4>
              <p class="asesory--card--content--info">
                Un alto porcentaje de las compras en el mercado inmobiliario se
                concretan mediante financiamiento bancario. El aporte de un
                préstamo hipotecario es fundamental para la amplia mayoría de
                las familias que buscan concretar el sueño de la casa propia.
                <br />
                Lo adecuado es estudiar las propuestas de cada Banco, sus
                intereses, plazo, seguro de vida que exijan, etc.
              </p>
            </div>
          </div>
          <div class="asesory--card">
            <div class="asesory--card--number">03.</div>
            <div class="asesory--card--content">
              <h4 class="asesory--card--content--title">
                ¿Como propietario que debo tener en cuenta antes de alquilar una
                propiedad?
              </h4>
              <p class="asesory--card--content--info">
                Antes de comenzar a alquilar debe tener en cuenta algunos puntos
                a cumplir. Debe procurar mantenerse dentro del marco legal que
                enmarca los alquileres inmobiliarios y así evitar problemas
                futuros. Cuando se firma un contrato de alquiler con un
                inquilino, legalmente, este contrato lo une a él y define los
                derechos y obligaciones de cada uno. Las obligaciones básicas
                del propietario se pueden resumir en:
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Alquilar con “Garantía de Alquiler” de por medio
              </h4>
              <p class="asesory--card--content--info">
                Es fundamental realizar un contrato de arrendamiento con una
                garantía confiable.
                <br />
                ANDA
                <br />
                CGI (Contaduría General de la Nación)
                <br />
                Depósito Bancario en BHU (Banco Hipotecario del Uruguay)
                <br />
                Garantías en Compañías de Seguros, como son:
                <br />
                Sura
                <br />
                <span>Porto Seguro</span> (garantía recomendamos mayormente)
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Conservar la vivienda en condiciones de habitabilidad
              </h4>
              <p class="asesory--card--content--info">
                Para alquilar una propiedad esta debe cumplir una serie de
                criterios: garantizar la seguridad, tranquilidad y salud de los
                inquilinos, y también, mediante criterios de superficie y
                volumen, una comodidad mínima.
                <br />
                Esta es la principal obligación de todo propietario y supone
                realizar todas las reparaciones necesarias para que la vivienda
                sea habitable, sin derecho a subir la renta. Por ejemplo, si se
                estropea la calefacción, salvo que sea por negligencia del
                inquilino, el arreglo corresponde al propietario.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Respetar la duración pactada
              </h4>
              <p class="asesory--card--content--info">
                El propietario no puede terminar el contrato en cualquier
                momento salvo que exista un incumplimiento del inquilino o se de
                alguno de los casos legalmente previstos.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Mantener el contrato de alquiler pese al cambio de propietario
              </h4>
              <p class="asesory--card--content--info">
                Si se ha comprado una vivienda con inquilinos, se tiene la
                obligación de mantener el contrato de alquiler a estos.
              </p>
              <h4 class="asesory--card--content--info--subtitle">
                Pago de impuestos y tasas municipales
              </h4>
              <p class="asesory--card--content--info">
                El propietario tendrá obligación de pagar los impuestos que se
                refieran a la vivienda como el Impuesto sobre Bienes Inmuebles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/newsletter') -%> <%- include('../partials/footer')
    -%> <%- include('../partials/scripts') -%>
  </body>
</html>
